<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    >
    <link
    rel="stylesheet"
    href="/static/styles.css"
    >
    <title>Job Tracker</title>
</head>
<body>
{{# modal creates new entry#}}

<dialog open="false" id="create-new">
  <article>
    <header>
        <svg onclick="closeDialog()"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
    </header>
    <form hx-post="/job">
        <label for="company">Company</label>
        <input name="company" />
        
        <label for="board">Job Board</label>
        <select name="board">
            <option value="linkedin">LinkedIn</option>
            <option value="glassdoor">Glassdoor</option>
            <option value="indeed">Indeed</option>
            <option value="other">Other</option>
        </select>
        
        <input type="submit" />
    </form>

  </article>
</dialog>

    <nav class="container">
        <ul>
            <li><strong>Job Tracker</strong></li>
        </ul>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><button onclick="openDialog()">New</button></li>
        </ul>
    </nav>
    <div>
        {{content}}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
{{if includeScript }}
    {{script}}
{{/if}}
<script>
    function openDialog(){
        const dialog = document.querySelector("#create-new");
        dialog.setAttribute("open", "true")
    }
    function closeDialog(){
        const dialog = document.querySelector("#create-new");
        dialog.setAttribute("open", "false")
    }
</script>
</html>