<table>
    <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">Date Applied</th>
            <th scope="col">Status</th>
            <th scope="col">Job Board</th>
            {{# delete col #}}
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody hx-get="/jobs?{{queryParams}}" hx-trigger="load, refreshData from:body">
    </tbody>
</table>