.dashboard-container{
    max-width: 1020px;
    margin: 0 auto;
    margin-top: 40px;
}
#myChart{
    height: auto !important;
    width: 350px !important;
    max-width: 100% !important;
    margin: 0 auto;
}